{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Agregar Nuevo Producto</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Agregar Productos</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Validación del lado del cliente
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()

    // Establecer la fecha actual como valor predeterminado para fecha_entrada
    document.addEventListener('DOMContentLoaded', function() {
        var fechaEntradaInput = document.getElementById('{{ form.fecha_entrada.id_for_label }}');
        if (fechaEntradaInput && !fechaEntradaInput.value) {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            fechaEntradaInput.value = today;
        }
    });
</script>
{% endblock %}