body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --success: #39A900;
}

.colorg {
    color: var(--success);
}



.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    border-bottom: #39A900 3px solid;
}

hr {
    width: 80%;
    margin-top: 0;
    position: relative;
    margin-left: 20px;
    height: 3px; /* Ajusta este valor al grosor deseado */
    background-color: var(--success); /* Asegúrate de que el color coincida con tu diseño */
    border: none;
    opacity: 1;
}

.btn{
    border: none;
}

.hv a:hover {
    background-color: #39A900;
    color: white;
}

/* Estilo para el enlace con la clase 'hover' */
.sidebar a.hover {
    background-color: #39A900;
    color: white;
    opacity: 0.5; /* Ajusta este valor para hacer el hover más transparente */
}
.responsive-icon {
    width: 80%;
    max-width: 50px;
}

.iconos{
    margin-left: 17px;
}

.responsive-img{
    width: 100%;
    max-width: 100px;
}

.responsive-card{
    width: 100%;
    max-width: 500px;
}

@media (max-width: 414px) {
    .responsive-card{
        width: 100%;
        max-width: 50px;
    }
}

.btn-success{
    color: white;
    background-color: var(--success);
}


.bg-white {
    background-color: white;
}



